body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #e6f7ff; 
  color: #002c5f; 
  text-align: center;
}


.blog-container p {
  font-size: 1rem;
  text-align: center;
  line-height: 1.6;
  margin: 10px;
  color: #002c5f; 
}

.header {
  background-color: #6cabdd;
  color: white;
  padding: 20px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header h1 {
  font-size: 2rem;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin: 20px 0;
}

.image-gallery img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .header h1 {
      font-size: 1.5rem;
  }

  .image-gallery img {
      max-width: 90%;
  }
}
